/SDG.web/nbproject/private/
/SDG.web/build/
/SDG.web/dist/
/GephiApp/nbproject/private/
/GephiApp/build/
/GephiApp/dist/
/ContextAssistentJFX/nbproject/private/
/ContextAssistentJFX/build/
/Semanpix2/nbproject/private/
/Semanpix2/build/